
#wrapper {
    position: absolute;
    bottom: 0;
    width: 300px;
    padding: 10% 5% 3% 5%;
}

#charts {
    
}

#country-name {
    color: white;
}

#piechart {
    display: inline-block;
    vertical-align: bottom;
    margin: auto;
    padding-top: 10%;
    width: 75%;
}

#barchart {
    display: inline-block;
    vertical-align: bottom;
    width: 90%;
}