
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #333333;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

html,body,.col-md-12,.row {
    height:97.5%;
}

#container > div {
    height:100%;
}

#navbar {
    height: 10%;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    border-style: double;
    
}
#navbar h1 {
    top: 3%;
    padding-left: 2%;
    color: #e6f3ff;
    font-family: 'Raleway';
    float:left;
}

#gui {
    padding-top: 2%;
}

#gui p {
    font-size: 17px;
    color: #e6f3ff;
    font-family: 'Raleway';
    text-align: center;
}

#info-header {
    margin-top: 20%;
    color: #e6f3ff;
    font-family: 'Raleway';
    font-size: 25px;
    height: auto;
}

#info {
    /*border: 1px solid white;*/
    height: auto;
    width: 100%;
    margin-top: 5%;
    color: #e6f3ff;
    font-family: 'Raleway';
    font-size: 15px;
     
}

/* Search bar */
.search {
    width: 100%;
    position: relative
  }
  
.searchTerm {
    float: left;
    width: 100%;
    border: 2px solid #66b3ff;
    padding: 5px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
    font-family: 'Raleway';
}

.searchTerm:focus{
    color: #000000;
}

.searchButton {
    position: absolute;  
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #66b3ff;
    background: #66b3ff;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 20%;
    position: absolute;
    top: 3%;
    right: 6%;
}

/* GUI (user filtering) */
select {
    width: auto;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    display:block;
    margin:auto;
    font-family: 'Raleway';
}

button#filter, button#cluster {
    width: 100px;
    height: 40px;
    background-color: #66b3ffbb;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    margin-left: 25%;
    margin-top: 13%;
    font-family: 'Raleway';
}

button#cluster {
    margin-top:2%;
}

button#filter:hover {
    background-color: #66b3fffb;
}

#container .col-sm-2 {
    width: 15%;
}
#container .col-sm-6 {
    border-right: 4px solid rgba(0, 0, 0, 0.3);
    border-left: 4px solid rgba(0, 0, 0, 0.3);
    border-style: double;
}
#container .col-sm-4 { 
    
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
