
#map-vis {
    background-color: #333333;
}

#map {
    padding: 0;
    z-index: 1;
}

path {
    stroke: #333333;
    stroke-width: 0.5px;    
}

.country {
    fill: #66b3ff;
    opacity: 0.8;
}

#map img {
    width: 40px;
    height: 40px;
    right: 0;
    opacity: 0.8;
    position: absolute;
    z-index: 2;
}

#map img:hover {
    cursor: pointer;
}


  