
#map-vis {
    background-color: #333333;
}

#map {
    padding: 0;
    z-index: 1;
}

path {
    stroke: #333333;
    stroke-width: 0.5px;    
}

.country {
    fill: #66b3ff;
    opacity: 0.8;
}

#cancel-selection {
    width: 40px;
    height: 40px;
    right: 0;
    opacity: 0;
    background-color:rgba(255, 0, 0, 0.644);
    border-radius: 5px;
    position: absolute;
    z-index: 2;
}

#cancel-selection:hover {
    cursor: pointer;
    background-color:red;
}

p.glyphicon-remove {
    font-size: 40px;
    color: white;
}

#map img:hover {
    cursor: pointer;
}



  